
<div class="container d-flex flex-column cuerpo">
    <h1 class="text-center mt-5">{{titulo}}</h1>
    <hr>
    <div class="container-fluid w-{{width}}">
{{!-- Loading Forms - model  --}}
        <form action="/{{post}}" method="post">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label-sm">Nombre/s</label>
                    <input type="text" class="form-control" name="Nombre" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label-sm">Apellido/s</label>
                    <input type="text" class="form-control" name="Apellido">
                </div>
                <div class="col-md-3">
                    <label class="form-label-sm">UserName</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="col-md-3">
                    <label class="form-label-sm">Celular</label>
                    <input type="tel" class="form-control" name="Cel">
                </div>
                <div class="col-md-3">
                    <label class="form-label-sm">Interno</label>
                    <input type="tel" class="form-control" name="Interno">
                </div>
                <div class="col-md-3">
                    <label class="form-label-sm">IP address</label>
                    <input type="text" class="form-control" name="IP">
                </div>
                <div class="col-md-2">
                    <label class="form-label-sm">Gerencia</label>
                    <input type="text" class="form-control" name="cod_Gerencia" placeholder="Ej: SIS">
                </div>
                <div class="col-md-3">
                    <label class="form-label-sm">Jefe/a</label>
                    <input type="text" class="form-control" name="id_jefe" placeholder="UserName">
                </div>
                <div class="col-md-3">
                    <label class="form-label-sm">Sede</label>
                    <select name="Edificio" class="form-select">
                        <option selected disabled>Opción...</option>
                        <option value="Viamonte">Viamonte</option>
                        <option value="Anexo">Anexo</option>
                        <option value="Ayacucho">Ayacucho</option>
                        <option value="Flores">Flores</option>
                        <option value="Parque Patricios">Parque Patricios</option>
                        <option value="Belgrano">Belgrano</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <label class="form-label-sm">Piso</label>
                    <input type="number" class="form-control" name="Piso">
                </div>
                <div class="col-md-3">
                    <label class="form-label-sm">Sector</label>
                    <input type="text" class="form-control" name="Sector">
                </div>
            </div>
            <div class="text-center mb-5">
                <input type="submit" class="my-4 btn btn-primary w-50 p-2" value="Enviar Datos">
            </div>
        </form>
        <div class="text-center validacion">
            <h2 class="text-danger">
                {{validacion}}
            </h2>
        </div>
    </div>
</div>
